.resetpassword {
    height: 100%;
  background-color: #242a3b;
  display: grid;
}

.innerreset {
  display: grid;
  grid-template-rows: 220px 60px 60px 60px 60px;
  align-self: center;
}

h5 {
    text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 75px;
}

.passwordinput {
  height: 40px;
  width: 400px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  font-size: 25px;
  padding: 0px 10px;
  background-color: black;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  border: white solid 2px;
}

.savepassword {
  height: 40px;
  width: 300px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #242a3b;
  background-color: white;
  border: none;
  margin: 0px 50px;
  cursor: pointer;
}

.savepassword:hover {
  background-color: #c6c5c9;
}

.savepassword:active {
  background-color: black;
}
